@import '../../styles/base/_variables.scss';

.shuffleContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  position: absolute;
}

.shuffle {
  // background: $light-gray;
  height: 100%;
}

.brownBag {
  background: #fff;
}

.rightNav {
  position: absolute;
  right: 5rem;
}
.rightNavButton {
  color: $blue;
  background-color: $light-gray;
  border: none;
}

.tabsContainer {
  overflow: scroll;
}

.hide {
  display: none;
}

.secretSanta {
  background: #000854;
}

.hangouts {
  background: $gray;
}
